.timer-container {
  width: max-content;
  margin: 0 auto;
  padding-top: 100px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.value {
  font-size: 22px;
  font-weight: 500;
}

.data-picker-box {
  margin-bottom: 20px;
}

.data-picker-box input {
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(252, 252, 252);
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}

.data-picker-box button {
  font-size: 17px;
  padding: 3px 6px;
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  transition: 0.5s;
}

.data-picker-box button:enabled {
  background-color: rgb(218, 218, 218);
  border: 1px solid rgb(192, 192, 192);
}

.data-picker-box button:enabled:hover {
  background-color: rgb(188, 188, 188);
}
